.hero-banner {
  width: 100%;

  mask-image: linear-gradient(to bottom, transparent, black 50%),
    linear-gradient(to top, transparent, black 50%, black 50%);
  mask-size: 100% 50%;
  mask-position: top, bottom;
  mask-repeat: no-repeat;
}

.hero {
  position: relative;
}

.hero-caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 5%;
}

.hero-caption p {
  max-width: 600px;
}
